/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Ubuntu', Helvetica, Helvetica Neue, Arial, sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: #000;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 0 0 0 0;
}

.main .main-article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 100%;
}
.main-container, .main.wrapper {
}

.main.wrapper {
    background: white;
    box-shadow: 10px 0 10px rgba(0,0,0,.3), -10px 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 10px 0 10px rgba(0,0,0,.3), -10px 0 10px rgba(0,0,0,.3);
    -moz-box-shadow: 10px 0 10px rgba(0,0,0,.3), -10px 0 10px rgba(0,0,0,.3);
}

body {
    background: #DDDDDD;
}
.main .sidebar {
    background-color: white;
}
.main .main-article {
    background-color: white;
    box-shadow: 10px 0 10px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 10px 0 10px rgba(0,0,0,.3) inset;
    -moz-box-shadow: 10px 0 10px rgba(0,0,0,.3) inset;
}


.article-ubicacion {
    background: url(../img/bg.jpg) 50% 0 no-repeat;
}


.h2-title {
    font-size: 22px;
    font-family: "Vollkorn", serif;
    margin-bottom: 2em;
    line-height: 32px;
}

.mapa-ubicacion {
    background: url(../img/map.jpg) 50% 50% no-repeat;
    background-size: contain;
    width: 100%;
    overflow: hidden;
    height: 500px;
    position: relative;
}

.suc {
    width: 250px;
    position: absolute;
}

.suc p {
    font-size: 12px;
    line-height: 16px;
}

.suc-01 {
    top: 40px;
    left: 0;
}

.suc-02 {
    top: 200px;
    left: 60px;
}

.suc-03 {
    left: 390px;
    top: 80px;
}

.suc-04 {
    right: 0px;
    bottom: 90px;
}

.main article h4 {
    font-size: 16px;
    font-weight: 600;
}
.main article p {
    font-size: 14px;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        width: 100%;
    }
    nav ul {
        width: 100%;

    }
    nav ul li {
        width: 100%;
        display: block;

    }
    nav ul li a {
        width: 100%;
        display: block;
        margin: 0;
        padding: 15px 5%;
        background: #F5F5F5;
        color: #000;
        border-top: 1px dashed #999;
        transition: background 300ms;

        text-align: left;
        font-size: 14px;
        line-height: 20px;
    }
    nav ul li a:hover {
        color: #333;
        background: #F57834;
        text-decoration: none;
    }
    nav ul li a.active {
        background: #F57834;
        color: #000;
    }
    nav ul li.nav-important-2 a {
        background: #C8DDD8;
    }

/* ============
    WIDE: Main
   ============ */

   .main .sidebar {
        height: 100%;
        width: 17%;
        float: left;
    }

    .sidebar .brand {
        display: block;
        margin: 30px auto 78px;
        width: 80%;
    }
    .sidebar .brand img {
        width: 100%;
    }

    .main .wrapper {
        margin-bottom: 0;
    }

    .main article {
        float: right;
        width: 83%;
        height: 100%;
    }

    .main aside {
        float: right;
        width: 28%;
    }

    .section-wrapper {
        padding: 3em;
    }
    .section-wrapper section {
        padding-bottom: 3em;
    }

    .breadcrumb {
        margin-top: 4em;
        font-size: 1.5em;
        color: #009257;
    }

    .breadcrumb span {
        font-size: 0.7em;
        color: #000;
    }
    .breadcrumb span a {
        color: #000;
        text-decoration: none;
    }
    .breadcrumb span a:hover {
        text-decoration: underline;
    }

    .pie {
        width: 100%;
        height: 88px;
        position: relative;
        border-top: 1px solid #aaa;
    }

    .pie .disclaimer {
        font-size: 12px;
        float: left;
        padding: 10px 10px 10px 15px;
        line-height: 16px;
        margin: 0;
        width: 450px;
    }

    .pie .disenio {
        display: block;
        position: absolute;
        bottom: 6px;
        left: 13px;
    }

    .pie .right {
        width: 400px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .pie .right a {
        display: block;
        float: left;
        margin-top: 20px;
        margin-left: 18px;
    }
    .pie .right a img {
        height: 40px;
    }


    .row {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 62.5rem;
    }
    .row:after {
    clear: both;
    }
    .row:before, .row:after {
    content: " ";
    display: table;
    }

    .column, .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }
    .large-1 {
    width: 8.33333%; }
    .large-2 {
    width: 16.66667%; }
    .large-3 {
    width: 25%; }
    .large-4 {
    width: 33.33333%; }
    .large-5 {
    width: 41.66667%; }
    .large-6 {
    width: 50%; }
    .large-7 {
    width: 58.33333%; }
    .large-8 {
    width: 66.66667%; }
    .large-9 {
    width: 75%; }
    .large-10 {
    width: 83.33333%; }
    .large-11 {
    width: 91.66667%; }
    .large-12 {
    width: 100%; }
    [class*="column"] + [class*="column"]:last-child {
    float: right; }

    .column img {
        max-width: 100%;
    }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}